[submodule "git-partner-contact"]
	path = git-partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 9.0
[submodule "repos/partner-contact"]
	path = repos/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 9.0
[submodule "repos/auto_backup"]
	path = repos/auto_backup
	url = git@github.com:lszt/auto_backup.git
	branch = 9.0-disablehostschecking
[submodule "repos/l10n-switzerland"]
	path = repos/l10n-switzerland
	url = git@github.com:lszt/l10n-switzerland.git
	branch = 9.0-mfgt
[submodule "repos/bank-statement-reconcile"]
	path = repos/bank-statement-reconcile
	url = git@github.com:OCA/bank-statement-reconcile.git
	branch = 9.0
[submodule "repos/bank-payment"]
	path = repos/bank-payment
	url = git@github.com:OCA/bank-payment.git
	branch = 9.0
[submodule "repos/stock-logistics-warehouse"]
	path = repos/stock-logistics-warehouse
	url = git@github.com:OCA/stock-logistics-warehouse.git
	branch = 9.0
[submodule "repos/bank-statement-import"]
	path = repos/bank-statement-import
	url = https://github.com/OCA/bank-statement-import.git
	branch = 9.0
[submodule "repos/profile-mfgt"]
	path = repos/profile-mfgt
	url = https://github.com/lszt/odoo-profile-mfgt
