[submodule "git-partner-contact"]
	path = git-partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 9.0
[submodule "repos/partner-contact"]
	path = repos/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 9.0
[submodule "repos/auto_backup"]
	path = repos/auto_backup
	url = git@github.com:lszt/auto_backup.git
	branch = 9.0-disablehostschecking
[submodule "repos/l10n-switzerland"]
	path = repos/l10n-switzerland
	url = git@github.com:lszt/l10n-switzerland.git
	branch = 9.0-mfgt
[submodule "repos/bank-statement-reconcile"]
	path = repos/bank-statement-reconcile
	url = git@github.com:OCA/bank-statement-reconcile.git
	branch = 9.0
[submodule "repos/bank-payment"]
	path = repos/bank-payment
	url = git@github.com:OCA/bank-payment.git
	branch = 9.0
[submodule "repos/stock-logistics-warehouse"]
	path = repos/stock-logistics-warehouse
	url = git@github.com:OCA/stock-logistics-warehouse.git
	branch = 9.0
[submodule "repos/bank-statement-import"]
	path = repos/bank-statement-import
	url = git@github.com:lszt/bank-statement-import.git
	branch = 9.0-mfgt
[submodule "repos/mfgt-salelayout-textonly"]
	path = repos/mfgt-salelayout-textonly
	url = https://github.com/lszt/odoo-mfgt-salelayout-textonly.git
[submodule "repos/web"]
	path = repos/web
	url = git@github.com:OCA/web.git
	branch = 9.0
[submodule "repos/odoo-addons-custom-mfgt"]
	path = repos/odoo-addons-custom-mfgt
	url = git@github.com:lszt/odoo-addons-custom-mfgt.git
	branch = 9.0
[submodule "repos/server-tools"]
	path = repos/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 9.0
[submodule "repos/hr-timesheet"]
	path = repos/hr-timesheet
	url = https://github.com/OCA/hr-timesheet.git
	branch = 9.0
